* {
  font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  background: black !important;
}

nav {
  padding-top: 3rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

nav > h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

nav > h4 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

nav > img {
  margin: 0 2rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 2rem;
}

nav > ul > li {
  justify-content: center;
}

nav > ul > li.register {
  margin-right: 2rem;
}

@media only screen and (max-width: 1032px) {
  nav > h4 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav > ul > li.register {
    margin-right: 1rem;
  }
  nav > ul {
    margin: 0 1rem;
  }
  nav > img {
    margin: 0 1rem;
  }
  nav > h1 {
    margin: 0 1rem;
  }
}

@media only screen and (max-width: 620px) {
  nav > ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav > ul > li.register {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
