<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>SINGULARTIY</title>
</head>

<body>
    <div v-cloak id="app">
        <div class="wrapper">
            <div class="header">
                <img src="./assets/logo.png" alt="logo">
                <h1>SINGULARITY</h1>
            </div>
            <div class="main">
                <div class="no-room" v-if='rooms.length === 0'>
                    <h3>Sorry, no one is playing right now.</h1>
                </div>
                <ul v-if='rooms.length > 0' class='lobby-list'>
                    <li v-for="room in rooms">
                        <div class="room-info">
                            <span><strong>Room Name :</strong> {{room.name}}</span> <br>
                            <span><strong>Owner :</strong> {{room.owner}}</span> <br>
                            <span><strong>Map :</strong> {{room.mapName}}</span> <br>
                            <span><strong>Capacity :</strong> {{room.currentPlayerCount}}/{{room.capacity}}</span> <br>
                        </div>
                        <button @click='joinRoom' class="btn btn-success" type="submit" id="button-addon2">Join
                            Room</button>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <button @click='goToProfile' class="btn btn-success profile" type="submit" id="button-addon2">Go to
                    Profile</button>
                <button @click='signOut' class="btn btn-success sign-out" type="submit" id="button-addon2">Sign
                    Out</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.2/vue.global.prod.min.js"></script>
    <script src="./app.js"></script>
</body>

</html>